<!DOCTYPE html>
<html lang="ja">
<head>
    <title>詳細画面</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="../css/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
</head>
<body>
    <div class="l-container">

        <!-- サイドメニュー -->
        <nav class="l-sidebar">

            <!-- サイドメニュー項目 -->
            <ul class="p-sidebar">
                <li class="p-sidebar__list"><a href="/emps" class="p-sidebar__list__a">HOME</a></li>
                <li class="p-sidebar__list"><a href="/register" class="p-sidebar__list__a">REGISTER</a></li>
                <li class="p-sidebar__list"><a href="" class="p-sidebar__list__a">GRAPH</a></li>
                <li class="p-sidebar__list"><a href="" class="p-sidebar__list__a">LOG</a></li>
            </ul>

            <!-- ユーザー名表示 -->
            <div class="p-user">
                <span class="p-user__name" th:text="${session.admin.username}"></span> 
                <a href="/logout" class="p-user__logout">Logout</a>
            </div>
        </nav>

<!-- サイドコンテンツ -->
<!-- ---------------------------------------------------------------------------------- -->
<!-- メインコンテンツ -->

        <!-- メインコンテンツ -->
        <div class="l-main">
            <div class="l-main__container">

                <!-- メインコンテンツのヘッダー -->
                <div class="p-header">
                    <h2 class="p-header__ttl">
                        Member Detail
                    </h2>

                    <!-- js-modal-open クリックでモーダルウィンドウが開く -->
                    <a href="#" class="c-addbtn js-modal-open">
                        <i class="fa-solid fa-pen-to-square"></i><span class="p-header__txt">Edit</span>
                    </a>
                </div>

                <div class="p-detail">
                    <a href="/emps">
                        <i class="fa-solid fa-angle-left p-detail__left"></i>
                    </a>
                    <div class="p-info">
                        <div class="p-info__left">
                            <img src="images/wallpaperbetter.jpg" alt="" class="p-info__left__img" th:src="${emp.PhotosImagePathAtDetail}">
                        </div>
                        <div class="p-info__right">
                            <div class="p-info__right__inner">
                                <p class="p-info__right__inner__tag">
                                    Name
                                </p>
                                <p class="p-info__right__inner__txt" th:text="${emp.name}" id="name"></p>
                            </div>
                            <div class="p-info__inner">
                                <p class="p-info__right__inner__tag">
                                    Gender
                                </p>
                                <p class="p-info__right__inner__txt" th:text="${emp.gender}"></p>
                            </div>
                            <div class="p-info__inner">
                                <p class="p-info__right__inner__tag">
                                    Department
                                </p>
                                <p class="p-info__right__inner__txt" th:text="${emp.dept}">
                                    spy
                                </p>
                            </div>
                            <div class="p-info__inner">
                                <p class="p-info__right__inner__tag">
                                    Birthday
                                </p>
                                <p class="p-info__right__inner__txt" th:text="${emp.birth}"></p>
                            </div>
                            <div class="p-info__inner">
                                <p class="p-info__right__inner__tag">
                                    Email
                                </p>
                                <p class="p-info__right__inner__txt" th:text="${emp.email}"></p>
                            </div>
                            <div class="p-info__inner">
                                <p class="p-info__right__inner__tag">
                                    Tel Number
                                </p>
                                <p class="p-info__right__inner__txt" th:text="${emp.tel}"></p>
                            </div>
                            <div class="p-info__inner">
                                <p class="p-info__right__inner__tag">
                                    Address
                                </p>
                                <p class="p-info__right__inner__txt" th:text="${emp.address}"></p>
                            </div>
                        </div>
                    </div>
                    <a href="" class="c-delete p-detail__btn js-delete" th:href="@{/delete/{id}(id=${emp.id})}">
                        DELETE
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- モーダルウィンドウ -->
    <div class="p-modal js-modal">
        <div class="p-modal__bg js-modal-close">
            <i class="fa-solid fa-xmark p-modal__bg__cross js-modal-close"></i>
        </div>
        <form id="editForm" class="p-add" method="post" enctype="multipart/form-data" th:action="@{/UpdateEmp/{id}(id=${emp.id})}">
            <input type="hidden" id="hiddenId" name="id" th:value="${emp.id}">
            <div class="p-add__inner">
                <div class="p-add__inner__ttl">Edit</div>
                <div class="p-add__inner__list">
                    <label for="" class="p-add__inner__list">Image</label>
                    <input type="file" name="img" id="imgInp">
                    <img id="blah" src="#" alt="your image" th:src="${emp.PhotosImagePathAtDetail}"/>
                </div>
                <div class="p-add__inner__list">
                    <label for="">Name</label>
                    <input type="text" th:value="${emp.name}" name="name" class="input">
                </div>
                <div class="p-add__inner__list">
                    <label for="">Gender</label>
                    <select name="gender">
                        <option value="男" th:selected="${emp.gender} eq '男'">男</option>
                        <option value="女" th:selected="${emp.gender} eq '女'">女</option>
                    </select>
                </div>
                <div class="p-add__inner__list">
                    <label for="">Department</label>
                    <select name="dept">
                        <option value="営業" th:selected="${emp.dept} eq '営業部'">営業部</option>
                        <option value="スパイ" th:selected="${emp.dept} eq 'スパイ'">スパイ</option>
                        <option value="調査兵団" th:selected="${emp.dept} eq '調査兵団'">調査兵団</option>
                    </select>
                </div>
                <div class="p-add__inner__list">
                    <label for="">Birthday</label>
                    <input type="date" name="birth" id="datefield" th:value="${emp.birth}" min="1900-01-01" class="input">
                </div>
                <div class="p-add__inner__list">
                    <label for="">Email</label>
                    <input type="text" name="email" id="" th:value="${emp.email}" class="input">
                </div>
                <div class="p-add__inner__list">
                    <label for="">Tel Number</label>
                    <input type="tel" name="tel" id="" th:value="${emp.tel}" class="input">
                </div>
                <div class="p-add__inner__list">
                    <label for="">Post Code</label>
                    <div class="u-flex">
                        <input id="zip" name="" placeholder="1234567" class="input p-add__inner__list__pc">
                        <button id="search" type="button" class="p-add__inner__list__pcbtn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
                <div class="p-add__inner__list">
                    <label for="">Address</label>
                    <input name="address" id="address" th:value="${emp.address}" class="input" value="">
                </div>

                <div class="p-add__inner__btns">
                    <a href="#" class="p-add__inner__btns--back c-btns js-modal-close">Back</a>
                    <input class="p-add__inner__btns--add c-btns" type="submit" value="Confirm">
                </div>
            </div>
        </form>
    </div>

    <script src="../js/jquery.validate.min.js"></script>
    <script src="../js/additional-methods.min.js"></script>
    <script src="../js/messages_ja.min.js"></script>
    <script src="../js/postcord.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>