<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ホーム</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
</head>
<body>
    <div class="l-container">

        <!-- サイドメニュー -->
        <nav class="l-sidebar">

            <!-- サイドメニュー項目 -->
            <ul class="p-sidebar">
                <li class="p-sidebar__list"><a href="/home" class="p-sidebar__list__a">HOME</a></li>
                <li class="p-sidebar__list"><a href="/register" class="p-sidebar__list__a">REGISTER</a></li>
                <li class="p-sidebar__list"><a href="" class="p-sidebar__list__a">IMPORT</a></li>
                <li class="p-sidebar__list"><a href="" class="p-sidebar__list__a">EXPORT</a></li>
                <li class="p-sidebar__list"><a href="" class="p-sidebar__list__a">GRAPH</a></li>
                <li class="p-sidebar__list"><a href="" class="p-sidebar__list__a">LOG</a></li>
            </ul>

            <!-- ユーザー名表示 -->
            <div class="p-user">
                <span class="p-user__name" th:text="${session.admin.username}"></span> 
                <a href="/logout" class="p-user__logout">Logout</a>
            </div>
        </nav>

<!-- サイドコンテンツ -->
<!-- ---------------------------------------------------------------------------------- -->
<!-- メインコンテンツ -->

        <!-- メインコンテンツ -->
        <div class="l-main">
            <div class="l-main__container">

                <!-- メインコンテンツのヘッダー -->
                <div class="p-header">
                    <h2 class="p-header__ttl">
                        Member Admin
                    </h2>

                    <!-- js-modal-open クリックでモーダルウィンドウが開く -->
                    <a href="#" class="c-addbtn js-modal-open">
                        <i class="fa-solid fa-plus"></i><span class="p-header__txt">Add Member</span>
                    </a>
                </div>

                <!-- 検索バー -->
                <form action="/fullTextSearch" class="p-search" method="POST">
                    <input class="p-search__input" type="search" name="search" placeholder="Search">
                </form>

                <!-- 社員一覧の項目 -->
                <ul class="p-admin__head">
                    <li>User</li>
                    <li>Name</li>
                    <li>Department</li>
                    <li>Birthday</li>
                    <li>Email</li>
                    <li>Tel Number</li>
                </ul>

                <!-- 社員一覧 -->
                <div class="p-admin">
                    <div th:each="emp:${allEmp}">
                        <a href="" class="p-admin__body" th:href="@{/emps/{id}(id=${emp.id})}">
                            <ul class="p-admin__body__item">
                                <li class="p-admin__body__item__img">
                                    <img src="images/azarashi.png" alt="" class="p-admin__body__item__img__logo" th:src="${emp.PhotosImagePath}">
                                </li>
                                <li th:text="${emp.name}" th:id="'name'+${emp.id}"></li>
                                <li th:text="${emp.dept}"></li>
                                <li th:text="${emp.birth}"></li>
                                <li th:text="${emp.email}"></li>
                                <li th:text="${emp.tel}"></li>
                            </ul>
                        </a>
                        <hr class="p-admin--bar">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- モーダルウィンドウ -->
    <div class="p-modal js-modal">
        <div class="p-modal__bg js-modal-close"></div>
        <form class="p-add" id="Insertform" enctype="multipart/form-data" method="POST" th:action="@{/addEmp}">
            <div class="p-add__inner">
                <div class="p-add__inner__ttl">Add Member</div>
                <div class="p-add__inner__list">
                    <label for="" class="p-add__inner__list">Image</label>
                    <input type="file" name="img" id="imgInp">
                </div>
                <div class="p-add__inner__list">
                    <label for="">Name</label>
                    <input type="text" name="name" placeholder="岩永礼恩">
                </div>
                <div class="p-add__inner__list">
                    <label for="">Gender</label>
                    <select name="gender">
                        <option value="" selected disabled>Select</option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
                <div class="p-add__inner__list">
                    <label for="">Department</label>
                    <select name="dept">
                        <option value="" selected disabled>Select</option>
                        <option value="営業">営業部</option>
                        <option value="スパイ">スパイ</option>
                        <option value="調査兵団">調査兵団</option>
                    </select>
                </div>
                <div class="p-add__inner__list">
                    <label for="">Birthday</label>
                    <input type="date" name="birth" min="1900-01-01">
                </div>
                <div class="p-add__inner__list">
                    <label for="">Email</label>
                    <input type="tel" name="email" placeholder="noeforger@gmail.com">
                </div>
                <div class="p-add__inner__list">
                    <label for="">Tel Number</label>
                    <input type="text" name="tel" placeholder="01234567890">
                </div>
                <div class="p-add__inner__list">
                    <label for="">Address</label>
                    <input name="address" placeholder="東京都台東区東上野6丁目2-1MPR東上野ビル10階">
                </div>

                <div class="p-add__inner__btns">
                    <a href="#" class="p-add__inner__btns--back c-btns js-modal-close">Back</a>
                    <!-- <a href="" class="p-add__inner__btns--add c-btns" >追加</a> -->
                    <input class="p-add__inner__btns--add c-btns" type="submit" value="Add Member">
                </div>
            </div>
        </form>
    </div>

    <script src="js/script.js"></script>
</body>
</html>