.p-add {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 80%;
    overflow-y: scroll;
    border-radius: 15px;
    /* IE, Edge 対応 */
    -ms-overflow-style: none;
    /* Firefox 対応 */
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display:none;
    }

    &__inner {
        display: inline-block;
        width: 250px;
        text-align: left;

        &__ttl {
            text-align: center;
            margin-bottom: 40px;
            font-size: 3.6rem;
        }

        &__list {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: bold;

            &__img {
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }

            & label {
                font-size: 1.2rem;
                margin-bottom: 2px;
            }

            & .input {
                height: 30px;
                font-size: 1.4rem;
                font-weight: 100;
                border-radius: 4px;
                border: 1px solid $black;
                letter-spacing: 0.7px;

                &::placeholder {
                    font-weight: 100;
                    opacity: .5;
                    padding-left: 5px;
                }
            }

            & select {
                height: 30px;
                font-size: 1.4rem;
                border-radius: 4px;
                font-weight: 100;
            }
        }

        &__btns {
            display: block;
            width: 100%;
            margin-top: 40px;

            &--back {
                border: $turquoise solid 2px;
                margin-bottom: 15px;
            }

            &--add {
                background-color: $turquoise;
                border: none;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
        }
    }
}