.p-info {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;

    &__left {
        width: 200px;
        height: 200px;
        margin-right: 40px;

        &__img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-left: 40px;

        &__inner {
            font-family: 'Noto Sans JP', sans-serif;

            &__tag {
                font-size: 1.4rem;
                font-family: 'Source Sans Pro', sans-serif;
            }

            &__txt {
                font-size: 1.8rem;
                font-family: 'Noto Sans JP', sans-serif;
            }
        }
    }
}